# 编译产物
build/
build-cmake/
.xmake/
assets/
test/
InStart.dll
InStart.dll.a
InStartInjector.exe
InStart.exe
InStartUpdateManager.exe
InStartConfig/
InStartUpdate.state
*.map
*.new
*.old

# 打包/临时
InStart.zip
InStart.log
